.wrapper {
    display: flex;
    flex-direction: column;
}

.strava {
    display: inline-block;
    margin: 0 auto 10px;
    height: 661px;
    overflow: hidden;
    border-radius: 4px;
}

.strava:hover {
    box-shadow: 0 4px 8px rgba(0,0,0,.05),0 1px 3px rgba(0,0,0,.1);
}
